:root {
  --colGreen: #65ac70;
  --colYellow: #f9ee75;
  --colBlue: #5ab0c7;
  --colRed: #ee5f5d;
  --colPurple: #88579d;
  --colOrange: #efb323;
  --colBlack: #161616;
  --colGrey: #e5e5e5;
  --colDarkGrey: #6a6a6a;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

#mainHead {
  font-size: 58px;
  text-align: center;
  display: inline-block;
  border: 1px solid;
}

#time {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  background-color: white;
  padding: 15px 40px;
  width: 220px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid;
}

.greyBack {
  background-color: #e5e5e5;
  text-align: center;
}

footer {
  background-color: #e5e5e5;
}

#game {
  display: flex;
  border: 1px solid;
  margin: 15px auto;
  justify-content: center;
  flex-wrap: wrap;
}

#removedcards {
  width:300px;
  border: 1px solid;
  margin: 15px auto;
  text-align: center;
}

#gameWon,
#gameLost {
  text-align: center;
  display: none;
}

.grey,
.green,
.yellow,
.blue,
.red,
.purple,
.orange {
  height: 65px;
  width: 55px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}


.removedCards {
  height: 25px;
  width: 15px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.grey {
  background-color: var(--colDarkGrey);
  padding: -5px;
  margin: -10px;
}

.green {
  background-color: var(--colGreen);
}

.yellow {
  background-color: var(--colYellow);
}

.blue {
  background-color: var(--colBlue);
}

.red {
  background-color: var(--colRed);
}

.purple {
  background-color: var(--colPurple);
}

.orange {
  background-color: var(--colOrange);
}

.removedCards {
  background-color: white;
}

.bottomScreen {
  height: 100px;
}

@media screen and (min-width: 600px) {
  #game {
    width: 300px;
  }
}
